view.login {
    margin-top: 15px;
    margin-bottom: 15px;
      button {
        background: rgba(255,84,0,0.74);
        box-shadow: 0 3px 4px 0 rgba(0,0,0,0.50);
        border-radius: 15px;
        font-family: PingFangSC-Semibold;
        font-size: 25px;
        color: #FFFFFF;
        text-align: center;
        padding: 12px 24px;
        border: none;
        cursor: pointer;
        width:70%;
      }
    }
view.all {
    width:97%;
    margin: 0px auto;
        view.nothing{
        width: 100%;
        display: flex;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.50);
        margin-top: 5px;
        border-radius: 8px;
        padding-top: 10px;
        padding-bottom: 10px;
        background: #FFF0E8;
        color:#FF5400;
        text{
            flex: 0 0 100%;
            max-width: 100%;
            text-align: center;
        }
    }
    view.player_card {
        margin-top: 10px;
      view.title {
        font-family: PingFangSC-Semibold;
        font-size: 30px;
        color: #FF5400;
      }
  
view.top_information {
        padding-top: 10px;
        border-radius: 15px 15px 0px 0px;
        display: flex;
        background: #FF5400;
      view.left {
        flex: 0 0 16%;
        max-width: 16%;
        image {
            margin-left: 5px;
            z-index: 1000;
            width: 45px;
            height: 45px;
          }
      }
  
      view.middle {
        flex: 0 0 29%;
        max-width: 29%;
        image {
            width:140px;
            height: 140px;
            margin-bottom: 20px;
            border-radius: 25px 25px 25px 25px;
        }
      }
  
      view.right {
        position: relative;
        transform: translate(-5%, 5%);
        flex: 0 0 55%;
        max-width: 55%;
        text-align: right;
        view.name {
            font-family: PingFangSC-Semibold;
            font-size: 30px;
            color: #FFFFFF;
        }
  
        view.detail {
            margin-top: 10px;
            font-family: PingFangSC-Thin;
            font-size: 15px;
            color: #FFFFFF;
        }
      }
    }
  
    view.main_card {
        display:flex;
        flex-flow: column;
        position: relative;
        background: #9D3400;
        border-radius: 15px;
        margin-top: -20px;
        z-index: 1000;
      view.card {
          width:92%;
          margin:0 auto;
        view.career_stats {
            padding-top: 15px;
          view.title {
            font-family: PingFangSC-Regular;
            font-size: 15px;
            color: #FFFFFF;
          }
  
          view.stat_line {
            height: 90px;
            width:100%;
            display: flex;
            margin-top: 15px;
            background: #FF5400;
            box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
            border-radius: 23px;
            padding-top: 10px;
            padding-bottom: 10px;
            view.stat_column {
                text-align: center;
                flex: 0 0 33.333%;
                max-width: 33.333%;
              view.wrapper{
                position: relative;
                top:50%;
                transform: translateY(-50%);
              }
              view.number {
                font-family: PingFangSC-Semibold;
                font-size: 25px;
                color: #FFFFFF;
              }
  
              view.description {
                margin-top: 5px;
                font-family: PingFangSC-Thin;
                font-size: 15px;
                color: #FFFFFF;
              }
            }
          }
  
          view.stat_line_small {
            height: 25px;
            width:100%;
            display: flex;
            margin-top: 15px;
            view.stat_column{
                text-align: center;
                flex: 0 0 33.333%;
                max-width: 33.333%;
                font-family: PingFangSC-Ultralight;
                font-size: 15px;
                color: #FFFFFF;
            }
          }
        }
  
        view.history_games {
           margin-top: 10px;
          view.title {
            font-family: PingFangSC-Regular;
            font-size: 15px;
            color: #FFFFFF;
          }
  
          view.history_game_row {
            padding-left: 10px;
            height: 75px;
            display: flex;
            margin-top: 15px;
            background: #FF5400;
            box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
            border-radius: 23px;
            padding-top: 5px;
            padding-bottom: 5px;
            view.wrapper{
                position: relative;
                top:50%;
                transform: translateY(-50%);
            }
            view.left {
                flex: 0 0 40%;
                max-width: 40%;
              image {
                width: 75rpx;
                height:75rpx;
                vertical-align: middle;
              }
  
              text {
                margin:0px 10px 0px 10px;
                font-family: PingFangSC-Semibold;
                font-size: 20px;
                color: #FFFFFF;
              }
            }
  
            view.middle {
                flex: 0 0 45%;
                max-width: 45%;
                display: flex;
              view.stat {
                text-align: center;
                flex: 0 0 33.333%;
                max-width: 33.333%;
                view.number {
                    font-family: PingFangSC-Semibold;
                    font-size: 20px;
                    color: #FFFFFF;
                  }
      
                  view.description {
                    font-family: PingFangSC-Thin;
                    font-size: 10px;
                    color: #FFFFFF;
                  }
              }
            }
  
            view.right {
                padding-left: 10px;
                flex: 0 0 15%;
                max-width: 15%;
              view.result{
                font-family: PingFangSC-Semibold;
                font-size: 30px;
              }
              view.win{
                color: #00FE02;
              }
              view.lose{
                color: #FE0000;
              }
            }
          }
        }
  
        view.total_reward {
            margin-top: 10px;
          view.title {
            font-family: PingFangSC-Regular;
            font-size: 15px;
            color: #FFFFFF;
          }
  
          view.reward_row {
            padding-left: 10px;
            height: 75px;
            display: flex;
            margin-top: 15px;
            background: #FF5400;
            box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
            border-radius: 23px;
            padding-top: 5px;
            padding-bottom: 5px;
            view.stats_column {
                flex: 0 0 14.28%;
                max-width: 14.28%;
                text-align: center;
                view.wrapper{
                    position: relative;
                    top:50%;
                    transform: translateY(-50%);
                    view.number {
                        font-family: PingFangSC-Semibold;
                        font-size: 20px;
                        color: #FFFFFF;
                    }
        
                    view.description {
                        font-family: PingFangSC-Thin;
                        font-size: 10px;
                        color: #FFFFFF;
                    }
                }
            }
          }
        }
  
        view.event_reward {
            margin-top: 10px;
            margin-bottom: 15px;
          view.title {
            font-family: PingFangSC-Regular;
            font-size: 15px;
            color: #FFFFFF;
          }
          view.wrapper{
            margin-top: 10px;
            width:100%;
            display: flex;
            view.wrapper2{
                width:90%;
                margin: 0px auto;
                box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
                height:50px;
                border-radius: 8px;
            }
            view.personal{
                background-color: #FF5400;
            }
            view.team{
                background-color: #147CE5;
            }
            view.challenge{
                background-color: #51976A;
            }
            view.social{
                background-color: #DA463C;
            }
            view.reward_column {
                height: 50px;
                text-align: center;
                flex: 0 0 25%;
                max-width: 25%;
                text {
                    position:relative;
                    top:25%;
                    transform: translateY(-25%);
                    font-family: PingFangSC-Semibold;
                    font-size: 20px;
                    color: #FFFFFF;
                }
            }
          }
        }
      }
    }
    view.recentEvents{
      margin-top: 10px;
      margin-bottom: 15px;
      view.title{
        font-family: PingFangSC-Regular;
        font-size: 15px;
        color: #FFFFFF;
      }
      view.close_row {
        box-shadow: 0 4px 4px 0 rgba(0,0,0,0.50);
        width:100%;
        display: flex;
        margin-top: 10px;
        background: #FF5400;
        border-radius: 8px;
        padding-top: 10px;
        padding-bottom: 10px;
        .wrapper{
            position: relative;
            top:50%;
            transform: translateY(-50%);
        }
        .left {
            flex: 0 0 30%;
            max-width: 30%;
            text-align: center;
            margin-left: 5px;
            image{
                width: 95%;
                height:90px;
                border-radius: 8px;
            }
        }
        .middle{
            flex: 0 0 65%;
            max-width: 65%;
            margin-left: 5px;
            text-align: right;
            text.name {
                font-family: PingFangSC-Semibold;
                font-size: 21px;
                color: #FFF;
                margin-bottom: 7px;
            }
            view.location {
                margin-top: 3px;
                font-family: PingFangSC-Regular;
                font-size: 11px;
                color: #FFF;
            }
            view.time {
                margin-top: 3px;
                font-family: PingFangSC-Regular;
                font-size: 11px;
                color: #FFF;
            }
        }
    }
    }
    view.recentGame{
      margin-top: 5px;
      margin-bottom: 15px;
      view.title{
        font-family: PingFangSC-Regular;
        font-size: 15px;
        color: #FFFFFF;
      }
      view.close_row {
        box-shadow: 0 4px 4px 0 rgba(0,0,0,0.50);
        width:100%;
        display: flex;
        margin-top: 10px;
        background: #FF5400;
        border-radius: 8px;
        padding-top: 10px;
        padding-bottom: 10px;
        .wrapper{
            position: relative;
            top:50%;
            transform: translateY(-50%);
        }
        .left {
            flex: 0 0 30%;
            max-width: 30%;
            text-align: center;
            margin-left: 5px;
            image{
                width: 95%;
                height:90px;
                border-radius: 8px;
            }
        }
        .middle{
            flex: 0 0 65%;
            max-width: 65%;
            margin-left: 5px;
            text-align: right;
            text.name {
                font-family: PingFangSC-Semibold;
                font-size: 21px;
                color: #FFF;
                margin-bottom: 7px;
            }
            view.location {
                margin-top: 3px;
                font-family: PingFangSC-Regular;
                font-size: 11px;
                color: #FFF;
            }
            view.time {
                margin-top: 3px;
                font-family: PingFangSC-Regular;
                font-size: 11px;
                color: #FFF;
            }
        }
    }
    }
    }
  
    view.calendar {
        margin-top: 15px;
      view.title {
        margin-bottom: 10px;
        font-family: PingFangSC-Semibold;
        font-size: 30px;
        color: #FF5400;
      }
      view.wrapper3{
        background:#FF8B52;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 10px;
        .actual_calendar{
            --calendar-height:500px;
            --calendar-background-color:#FF8B52;
            color:#FFFFFF;
        }
        view.today{
            width:95%;
            margin:0px auto;
            view.today_title{
                margin-top: 10px;
                margin-bottom: 10px;
                font-family: PingFangSC-Semibold;
                font-size: 20px;
                color: #FFFFFF;
                text-align: left;
            }
            view.nothing{
                background: #FFF0E8;
                color:#FF5400;
            }
            view.close_row {
                box-shadow: 0 4px 4px 0 rgba(0,0,0,0.50);
                width:100%;
                display: flex;
                margin-top: 15px;
                background: #FFF0E8;
                border-radius: 8px;
                padding-top: 10px;
                padding-bottom: 10px;
                .wrapper{
                    position: relative;
                    top:50%;
                    transform: translateY(-50%);
                }
                .left {
                    flex: 0 0 30%;
                    max-width: 30%;
                    text-align: center;
                    margin-left: 5px;
                    image{
                        width: 95%;
                        height:105px;
                        border-radius: 8px;
                    }
                }
                .middle{
                    flex: 0 0 65%;
                    max-width: 65%;
                    margin-left: 5px;
                    text-align: right;
                    text.name {
                        font-family: PingFangSC-Semibold;
                        font-size: 23px;
                        color: #000000;
            
                    }
                    view.line{
                        margin-top: 5px;
                        margin-bottom: 5px;
                        width:100%;
                        height:1rpx;
                        background-color: #d1d1d1bb;
                    }
                    text.category{
                        width: 33%;
                        margin-top: 3px;
                        margin-right: 3px;
                        padding: 4px 5px 4px 5px;
                        border-radius: 10px;
                        background: #DA463C;
                        font-family: PingFangSC-Regular;
                        font-size: 14px;
                        color:white;
                    }
                    view.location {
                        margin-top: 3px;
                        font-family: PingFangSC-Regular;
                        font-size: 13px;
                        color: #FF5400;
                    }
                    view.time {
                        margin-top: 3px;
                        font-family: PingFangSC-Regular;
                        font-size: 13px;
                        color: #147CE5;
                    }
                }
            }
        }

      }
    
    }
  
    view.setting {
        margin-top: 10px;
      view.title {
        font-family: PingFangSC-Semibold;
        font-size: 30px;
        color: #FF5400;
        margin-bottom: 10px;
      }
  
      view.setting_row {
        margin-bottom: 15px;
        background: #FF5400;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
        border-radius: 4px;
        padding-top: 10px;
        padding-bottom: 10px;
        display: flex;
        view.wrapper{
            position: relative;
            top:50%;
            transform: translateY(-50%);
        }
        view.caption {
            margin-left: 15px;
            flex: 0 0 45%;
            max-width: 45%;
            font-family: PingFangSC-Semibold;
            font-size: 25px;
            color: #FFFFFF;
        }
  
        view.icon {
            text-align:right;
            flex: 0 0 45%;
            max-width: 45%;
            image{
                width:40px;
                height:40px;
                vertical-align: middle;
            }
            image.tip{
                width:45px;
                height:45px;
            }
        }
      }
    }
  }