view.all {
    width:100%;
    overflow: hidden;
    view.nothing {
        background-color: #FFF;
        width: 100%;
        display: flex;
        box-shadow: 0 1px 4px 0 rgba(0,0,0,0.50);
        margin-top: 15px;
        border-radius: 8px;
        padding-top: 10px;
        padding-bottom: 10px;
        color: #000;
        text{
            font-family: PingFangSC-Medium;
            font-size: 13px;
            flex: 0 0 100%;
            max-width: 100%;
            text-align: center;
        }
    }
    view.top_image {
        margin-top: 10px;
        swiper{
            height:220px;
            text-align: center;
            image {
                width:90%;
                height: 200px;
                box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.50);
                border-radius: 8px;
              }
        }
    }
    view.big{
        width:95%;
        margin:0px auto;
    }
    view.category_selection {
        view.title {
            font-family: PingFangSC-Semibold;
            font-size: 25px;
            margin-top: -5px;
            margin-bottom: -5px;
            color: #000000;
            text-align: left;
        }
        view.wrapper{
            margin-top: 5px;
            width:100%;
            display: flex;
            button{
                width: 100%;
                padding:0px;
                text-align: none;
                margin-top: 5px;
            }
            button::after {
                border: none;
            }
            view.reward_column {
                height: 50px;
                text-align: center;
                flex: 0 0 25%;
                max-width: 25%;
                view.wrapper2{
                    width:90%;
                    margin: 0px auto;
                    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.50);
                    height:45px;
                    border-radius: 8px;
                    margin-top: 5px;
                    margin-bottom: 5px;
                }
                text {
                    top:25%;
                    transform: translateY(-25%);
                    font-family: PingFangSC-Medium;
                    font-size: 13px;
                    color: #000000;
                }
                text.personal{
                    font-size: 15px;
                    color: #FF5400;
                }
                text.team{
                    color: #147CE5;
                }
                text.challenge{
                    color: #51976A;
                }
                text.social{
                    color: #DA463C;
                }
            }
          }
    }
    view.participated {
      view.title {
        margin-top: 20px;
        margin-bottom: -5px;
        font-family: PingFangSC-Semibold;
        font-size: 25px;
        color: #000000;
        text-align: left;
      }
      view.rows {
        view.row {
            margin-top: 15px;
            box-shadow: -1px -1px 10px 0 rgba(0,0,0,0.04), 1px 1px 10px 0 rgba(0,0,0,0.40);
            border-radius: 8px;
            height: 150px;
            background-repeat: no-repeat;
            background-size: cover;
            view.button{
                width: 100%;
                height:40%;
            }
            view.information{
                height:60%;
                background: rgba(9,9,9,0.70);
                box-shadow: 0 -5px 4px 0 rgba(0,0,0,0.70);
                border-radius: 10px;
                display: flex;
                view.text{
                    flex: 0 0 70%;
                    max-width: 70%;
                    backdrop-filter: blur(0.5px);
                    margin-left: 8px;
                    view.title{
                        margin-bottom: 0px;
                        margin-top: 3px;
                        font-family: PingFangSC-Semibold;
                        font-size: 23px;
                        color: #FFFFFF;
                    }
                    view.location{
                        margin-top: 7px;
                        font-family: PingFangSC-Regular;
                        font-size: 10px;
                        color: #FFFFFF;
                    }
                    view.time{
                        margin-top: 7px;
                        font-family: PingFangSC-Regular;
                        font-size: 10px;
                        color: #FFFFFF;
                    }
                }
                view.checkin{
                    flex: 0 0 30%;
                    max-width: 30%;
                    button{
                        position: relative;
                        width: 75%;
                        top: 30px;
                        background: rgba(255,84,0,0.80);
                        border-radius: 8px;
                        font-family: PingFangSC-Semibold;
                        font-size: 12px;
                        color: #FFFFFF;
                        padding-top: 3px;
                        padding-bottom: 3px;
                    }
                    button::after {
                        border: none;
                    }
                }
            }
        }
      }
    }
  
  
    view.closeby {
        margin-top: 15px;
      view.title {
        font-family: PingFangSC-Semibold;
        font-size: 25px;
        color: #000000;
        text-align: left;
        margin-bottom: -5px;
      }
        view.close_row {
            background: #FFFFFF;
            box-shadow: 0 1px 4px 0 rgba(0,0,0,0.50);
            border-radius: 8px;
            width: 100%;
            display: flex;
            margin-top: 15px;
            padding-top: 10px;
            padding-bottom: 10px;
            .wrapper {
                position: relative;
                top: 50%;
                transform: translateY(-50%);
            }

            .left {
                flex: 0 0 25%;
                max-width: 25%;
                text-align: center;
                margin-left: 8px;

                image {
                    width: 100%;
                    height: 95px;
                    border-radius: 8px;
                    box-shadow: 1px 1px 3px 0 rgba(0,0,0,0.50), -1px -1px 3px 0 rgba(0,0,0,0.50);
                }
            }

            .middle {
                flex: 0 0 57%;
                max-width: 57%;
                margin-left: 8px;
                text.name {
                    font-family: PingFangSC-Semibold;
                    font-size: 19px;
                    color: #000000;
                    text-align: left;
                }

                view.line {
                    margin-top: 10px;
                    margin-bottom: 8px;
                    width: 90%;
                    height: 1rpx;
                    background-color: #C7C7C7;
                }
                view.info{
                    text.location {
                        font-family: PingFangSC-Regular;
                        font-size: 10px;
                        color: #000000;
                        text.iconfont{
                            color: #FF5400;
                            font-size: 13px;
                        }
                    }

                    text.time {
                        margin-left: 7px;
                        font-family: PingFangSC-Regular;
                        font-size: 10px;
                        color: #000000;
                        text.iconfont{
                            color: #FF5400;
                            font-size: 13px;
                        }
                    }
                }
            }

            view.right {
                flex: 0 0 16%;
                max-width: 16%;
                margin-left: -13px;
                margin-top: 15px;
                button{
                    background: #FFF1EA;
                    border-radius: 8px;
                    font-family: PingFangSC-Semibold;
                    font-size: 10px;
                    color: #FF5400;
                }
            }
            button::after {
                border: none;
            }
        }
  
      button.more {
        margin-top: 10px;
        margin-bottom: -15px;
        font-family: PingFangSC-Semibold;
        font-size: 13px;
        color: #696969;
        background-color: white;
        text-align: center;
      }
      button::after {
        border: none;
      }
      view.basketball_map {
        margin-top: 15px;
        view.title {
            font-family: PingFangSC-Semibold;
            font-size: 25px;
            color: #000000;
            text-align: left;
        }
  
        map {
            margin-top: 15px;
            width:100%;
            border-radius: 8px;
            height:300px;
        }
      }
    }
  
    view.calendar {
      margin-top: 15px;
      view.title {
        margin-bottom: 10px;
        font-family: PingFangSC-Semibold;
        font-size: 25px;
        color: #000;
      }
      view.wrapper3{
        background:#FFF;
        box-shadow: 0 1px 4px 0 rgba(0,0,0,0.50);
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 10px;
        .actual_calendar{
            --calendar-height:500px;
            --calendar-background-color:#FFF;
            color:#000;
        }
        view.today{
            width:95%;
            margin:0px auto;
            view.today_title{
                margin-top: 15px;
                margin-bottom: -5px;
                font-family: PingFangSC-Semibold;
                font-size: 20px;
                color: #FFFFFF;
                text-align: left;
            }
        view.close_row {
            background: #FFFFFF;
            box-shadow: 0 1px 4px 0 rgba(0,0,0,0.50);
            border-radius: 8px;
            width: 100%;
            display: flex;
            margin-top: 15px;
            padding-top: 10px;
            padding-bottom: 10px;
            .wrapper {
                position: relative;
                top: 50%;
                transform: translateY(-50%);
            }

            .left {
                flex: 0 0 25%;
                max-width: 25%;
                text-align: center;
                margin-left: 8px;

                image {
                    width: 100%;
                    height: 95px;
                    border-radius: 8px;
                    box-shadow: 1px 1px 3px 0 rgba(0,0,0,0.50), -1px -1px 3px 0 rgba(0,0,0,0.50);
                }
            }

            .middle {
                flex: 0 0 57%;
                max-width: 57%;
                margin-left: 8px;
                text.name {
                    font-family: PingFangSC-Semibold;
                    font-size: 19px;
                    color: #000000;
                    text-align: left;
                }

                view.line {
                    margin-top: 10px;
                    margin-bottom: 8px;
                    width: 90%;
                    height: 1rpx;
                    background-color: #C7C7C7;
                }
                view.info{
                    text.location {
                        font-family: PingFangSC-Regular;
                        font-size: 10px;
                        color: #000000;
                        text.iconfont{
                            color: #FF5400;
                            font-size: 13px;
                        }
                    }

                    text.time {
                        margin-left: 7px;
                        font-family: PingFangSC-Regular;
                        font-size: 10px;
                        color: #000000;
                        text.iconfont{
                            color: #FF5400;
                            font-size: 13px;
                        }
                    }
                }
            }

            view.right {
                flex: 0 0 16%;
                max-width: 16%;
                margin-left: -13px;
                margin-top: 15px;
                button{
                    background: #FFF1EA;
                    border-radius: 8px;
                    font-family: PingFangSC-Semibold;
                    font-size: 10px;
                    color: #FF5400;
                }
            }
            button::after {
                border: none;
            }
        }
        }

      }
    
    }
  
    view.upcoming {
        margin-top: 10px;
      view.title {
        font-family: PingFangSC-Semibold;
        font-size: 25px;
        color: #000000;
        text-align: left;
        margin-bottom: -10px;
      }
        view.upcoming_row {
            background: #FFFFFF;
            box-shadow: 0 1px 4px 0 rgba(0,0,0,0.50);
            border-radius: 8px;
            width: 100%;
            display: flex;
            margin-top: 15px;
            padding-top: 10px;
            padding-bottom: 10px;
            .wrapper {
                position: relative;
                top: 50%;
                transform: translateY(-50%);
            }

            .left {
                flex: 0 0 25%;
                max-width: 25%;
                text-align: center;
                margin-left: 8px;

                image {
                    width: 100%;
                    height: 95px;
                    border-radius: 8px;
                    box-shadow: 1px 1px 3px 0 rgba(0,0,0,0.50), -1px -1px 3px 0 rgba(0,0,0,0.50);
                }
            }

            .middle {
                flex: 0 0 57%;
                max-width: 57%;
                margin-left: 8px;
                text.name {
                    font-family: PingFangSC-Semibold;
                    font-size: 19px;
                    color: #000000;
                    text-align: left;
                }

                view.line {
                    margin-top: 10px;
                    margin-bottom: 8px;
                    width: 90%;
                    height: 1rpx;
                    background-color: #C7C7C7;
                }
                view.info{
                    text.location {
                        font-family: PingFangSC-Regular;
                        font-size: 10px;
                        color: #000000;
                        text.iconfont{
                            color: #FF5400;
                            font-size: 13px;
                        }
                    }

                    text.time {
                        margin-left: 10px;
                        font-family: PingFangSC-Regular;
                        font-size: 10px;
                        color: #000000;
                        text.iconfont{
                            color: #FF5400;
                            font-size: 13px;
                        }
                    }
                }
            }

            view.right {
                flex: 0 0 16%;
                max-width: 16%;
                margin-left: -13px;
                margin-top: 15px;
                button{
                    background: #FFF1EA;
                    border-radius: 8px;
                    font-family: PingFangSC-Semibold;
                    font-size: 10px;
                    color: #FF5400;
                }
            }
            button::after {
                border: none;
            }
        }
    }
  }
