view.all {
    width:100%;
    overflow-x: hidden;
    view.top {
        image.background{
            width:100%;
            overflow: hidden;
            position: absolute;
            top:0;
            z-index:-1;
            filter: blur(3px);
        }
        view.upcoming_row {
            position:relative;
            view.content{
                position: relative;
                top:40%;
                transform: translateY(-40%);
            }
            view.content.middle{
                text-align: center;
                position: relative;
                top:40%;
                transform: translateY(-40%);
            }
            position:relative;
            height:205px;
            width:100%;
            display: flex;
            margin-top: 15px;
            margin-bottom: 15px;
            border-radius: 27px;
            padding-top: 10px;
            padding-bottom: 10px;
          view.team1 {
              text-align: center;
              flex:40%;
              max-width: 40%;
            image {
                height:100px;
                width:100px;
                border-radius: 50%;
            }
  
            view.team_name {
                font-family: PingFangSC-Semibold;
                font-size: 17px;
                color: #FFFFFF;
            }
  
            view.ranking{
                margin-top: 5px;
                font-family: PingFangSC-Regular;
                font-size: 10px;
                color: #FFF;
            }
          }
  
          view.extra {
            text-align: center;
            flex:20%;
            max-width: 20%;
 
            view.VS {
                font-family: PingFangSC-Semibold;
                font-size: 35px;
                color: #FFFFFF;
            }
          }
  
          view.team2 {
            text-align: center;
            flex:40%;
            max-width: 40%;
            image {
                height:100px;
                width:100px;
                border-radius: 50%;
            }
  
            view.team_name {
                font-family: PingFangSC-Semibold;
                font-size: 17px;
                color: #FFFFFF;
            }
            view.ranking{
                font-family: PingFangSC-Regular;
                font-size: 10px;
                color: #FFF;
            }
          }
        }
    }
    
    view.main_card {
        margin-top: -30px;
        background-color: white;
        display:flex;
        position: relative;
        border-radius: 23px 23px 0px 0px;
        z-index: 1000;
      view.card {
        width:95%;
        margin:0 auto;
        view.info{
          display: flex;
          width: 100%;
          margin-top: 15px;
          margin-bottom: 30px;
          line-height: 0.8em;
          view.info_row{
              flex: 0 0 25%;
              max-width: 25%;
              text-align: center;
              image{
                width: 25px;
                height: 25px;
              }
              view.desc{
                margin-top: 7px;
                font-family: PingFangSC-Semibold;
                font-size: 10px;
                color: #000000;
              }
              view.vertical_line{
                border-right: 1px solid #D9D9D9;
                height: 20px;
                margin-top: -40px;
              }
              view.time{
                margin-top: -52.5px;
              }
              view.location{
                white-space: nowrap;
                overflow: hidden;
                text-overflow: clip;
              }
          }
        }

        view.headline{
            margin-bottom: 10px;
            display: flex;
            view.title{
                flex: 0 0 80%;
                max-width: 80%;
                font-family: PingFangSC-Semibold;
                font-size: 25px;
                color: #000000;
                text-align: left;    
            }
            view.user_participation{
                text-align: right;
                margin-top: 5px;
                flex: 0 0 20%;
                max-width: 20%;
                text{
                    background: #FF5400;
                    border-radius: 10px;
                    padding: 5px 10px 5px 10px;
                    font-size: 10px;
                    color: #FFFFFF;
                }
            }
        }
        view.video{
            text-align: center;
            video{
                width: 100%;
                border-radius: 8px;
            }
        }
        map {
            margin-top: 15px;
            width:100%;
            border: 2px solid #D9D9D9;
            height:300px;
            border-radius: 8px;
        }

        view.team{
            view.teamName{
                margin-top: 15px;
                font-family: PingFangSC-Medium;
                font-size: 15px;
                color: #000;
            }
            scroll-view.table{
                text-align: center;
                width:auto;
                overflow-x: auto;
                white-space: nowrap;
                margin-top: 10px;
                box-shadow: 0 1px 4px 0 rgba(0,0,0,0.50);
                border-radius: 27px;
                border: 0px solid #979797;
                padding: 15px 25px 20px 25px;
                view.tr{
                    display: flex;
                    width: 500px;
                    height: 3rem;
                    align-items: center;
                    border-bottom: 1px solid #979797;
                }
                view.td{
                    font-family: PingFangSC-Regular;
                    font-size: 13px;
                    color: #000;
                    flex:10.5%;
                    max-width: 10.5%;
                }
                .th {
                    font-family: PingFangSC-Semibold;
                    font-size: 15px;
                    color: #000;
                    display: flex;
                    height: 3rem;
                    align-items: center;
                    margin-right: 4px;
                    flex:15%;
                    max-width: 15%;
                    text-align: center;
                }
                .td.name{
                    text-align: left;
                    flex:14%;
                    max-width: 14%;
                }
                .th.name{
                    flex:25%;
                    max-width: 25%;
                }
                view.bg-w{
                    border-bottom:1px solid #979797;
                }
            }
        }
      }
      
  
      button.join_button {
        padding-bottom: 40px;
        text-align: center;
        background: #FF5400;
        font-family: PingFangSC-Semibold;
        font-size: 17px;
        color: #FFFFFF;
        height:5%;
        width:90%;
        left: 5%;
        position: fixed;
        bottom: 20px;
        border-radius: 8px;
      }
    }
  }