view.all {
    width:100%;
    overflow: hidden;
    view.nothing{
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.50);
        margin-top: 10px;
        width:100%;
        font-size: 18px;
        border-radius: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        color:#FFFFFF;
    }
    view.top_information {
        padding-bottom: 20px;
        padding-top: 10px;
        display: flex;
        background: #00788C;
      view.left {
        flex: 0 0 30%;
        max-width: 30%;
        image {
            padding-left: 5px;
            margin-left: 5px;
            z-index: 1000;
            width: 100px;
            height: 100px;
        }
      }
  
      view.right {
        position: relative;
        transform: translate(-5%, 0%);
        flex: 0 0 70%;
        max-width: 70%;
        text-align: right;
        view.name {
            font-family: PingFangSC-Semibold;
            font-size: 31px;
            color: #FFFFFF;
        }
  
        view.detail {
            font-family: PingFangSC-Regular;
            font-size: 20px;
            color: #FFFFFF;
        }
  
        view.rewards {
          text {
            font-family: PingFangSC-Thin;
            font-size: 17px;
            color: #FFFFFF;
          }
        }
      }
    }
  
    view.main_card {
        min-height: 100vh;
        display:  flex;
        flex-flow: column;
        position: relative;
        border-radius: 23px 23px 0px 0px;
        margin-top: -20px;
        z-index: 1000;
      view.card {
        width:95%;
        margin:0 auto;
        view.team_stats {
            padding-top: 15px;
          view.title {
            font-family: PingFangSC-Regular;
            font-size: 15px;
            color: #FFFFFF;
          }
  
          view.stat_line {
            height: 90px;
            width:100%;
            display: flex;
            margin-top: 15px;
            background: #00788C;
            box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
            border-radius: 20px;
            padding-top: 10px;
            padding-bottom: 10px;
            view.stat_column {
                text-align: center;
                flex: 0 0 33.333%;
                max-width: 33.333%;
              view.wrapper {
                position: relative;
                top:50%;
                transform: translateY(-50%);
                view.number {
                    font-family: PingFangSC-Semibold;
                    font-size: 25px;
                    color: #FFFFFF;
                }
  
                view.description {
                    margin-top: 5px;
                    font-family: PingFangSC-Thin;
                    font-size: 15px;
                    color: #FFFFFF;
                }
              }
            }
          }
        }
        view.history_games{
            margin-top: 15px;
            view.title{
                font-family: PingFangSC-Regular;
                font-size: 15px;
                color: #FFFFFF;
            }
            view.game_row {
                height: 80px;
                box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
                width:100%;
                display: flex;
                margin-top: 15px;
                background: #00788C;
                border-radius: 20px;
                padding-top: 10px;
                padding-bottom: 10px;
                .top{
                    height:40px;
                    position:relative;
                    top: 25%;
                    transform: translate(0%, -25%);
                }
                .bottom{
                    height:40px;
                    position:relative;
                    top: 35%;
                    transform: translate(0%, -35%);
                }
                view.left{
                    margin-left: 10px;
                    flex: 0 0 45%;
                    max-width: 45%;
                    view.team1 {
                        image {
                            vertical-align: middle;
                            width:35px;
                            height:35px;
                        }
            
                        text.team_name {
                            margin-left: 15px;
                            font-family: PingFangSC-Regular;
                            font-size: 13px;
                            color: #FFFFFF;
                        }
            
                    }
        
                    view.team2 {
                        margin-top: 10px;
                        image {
                            vertical-align: middle;
                            width:35px;
                            height:35px;
    
                        }
            
                        text.team_name {
                            margin-left: 15px;
                            font-family: PingFangSC-Regular;
                            font-size: 13px;
                            color: #FFFFFF;
                        }
                    }
                }
                view.middle{
                    flex:20%;
                    max-width: 20%;
                    font-family: PingFangSC-Thin;
                    font-size: 10px;
                    color: #FFFFFF;
                }
                
                view.right{
                    display: flex;
                    flex: 0 0 35%;
                    max-width: 35%;
                    view.vertical_line {
                        margin-top:9px;
                        border-left: 1px solid #FFFFFF;
                        height: 60px;
                    }
            
                    view.score {
                    margin-left: 30px;
                    margin-top: -10px;
                    view.team1_score {
                        text {
                            font-family: PingFangSC-Regular;
                            font-size: 13px;
                            color: #FFFFFF;
                        }
            
                        image {
                            margin-left: 10px;
                            width:11px;
                            height:11px;
                            vertical-align: middle;
            
                        }
                    }
            
                    view.team2_score {
        
                        text {
                            font-family: PingFangSC-Regular;
                            font-size: 13px;
                            color: #FFFFFF;
                        }
            
                        image {
                            margin-left: 10px;
                            width:11px;
                            height:11px;
                            vertical-align: middle;
                        }
                    }
                    }
                }
    
            }
        }

  
        view.roster {
            margin-top: 15px;
            view.title {
                font-family: PingFangSC-Regular;
                font-size: 15px;
                color: #FFFFFF;
            }
            .table {
                margin-top: 15px;
                box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
                border-radius: 20px;
                padding: 20px 25px 20px 25px;
                background-color: #00788C;
                .left{
                    padding-left: 10px;
                    width:3%;
                    align-items: center;
                    justify-content: left;
                }
                .middle{
                    padding-left: 20px;
                    width:55%;
                    align-items: left;
                }
                .right{
                    padding-left: 20px;
                    width:30%;
                    align-items: center;
                    justify-content: right;
                    border-right: 0px;
                }
                .tr {
                    display: flex;
                    width: 100%;
                    height: 3rem;
                    align-items: center;
                    border-bottom: 1px solid #FFFFFF;
                    .td {
                        font-family: PingFangSC-Thin;
                        font-size: 17px;
                        color: #FFFFFF;
                    }
                    image{
                        height:30px;
                        width:30px;
                        vertical-align: middle;
                        margin-right: 10px;
                        border-radius: 50%;
                    }
        
                    .td.right{
                        border-right: 0px;
                    }
                }
                .tr.top {
                    border-top: 1px solid #FFFFFF;
                }
    
    
            }

        }
        view.upcoming{
            margin-top: 15px;
            view.title{
                font-family: PingFangSC-Regular;
                font-size: 15px;
                color: #FFFFFF;
            }
            view.upcoming_row {
                view.content{
                    position: relative;
                    top:50%;
                    transform: translateY(-50%);
                }
                view.content.middle{
                    text-align: center;
                    position: relative;
                    top:70%;
                    transform: translateY(-70%);
                }
                position:relative;
                height:205px;
                box-shadow: 0 4px 4px 0 rgba(0,0,0,0.50);
                width:100%;
                display: flex;
                margin-top: 15px;
                margin-bottom: 15px;
                background: #00788C;
                border-radius: 20px;
                padding-top: 10px;
                padding-bottom: 10px;
              view.team1 {
                  text-align: center;
                  flex:37.5%;
                  max-width: 37.5%;
                image {
                    height:100px;
                    width:100px;
                    border-radius: 50%;
                }
      
                view.team_name {
                    font-family: PingFangSC-Semibold;
                    font-size: 13px;
                    color: #FFFFFF;
                }
      
                view.record {
                    margin-top: 5px;
                    font-family: PingFangSC-Regular;
                    font-size: 10px;
                    color: #FFFFFF;
                }
              }
      
              view.extra {
                text-align: center;
                flex:30%;
                max-width: 30%;
      
                view.name {
                    margin-top: -5px;
                    font-family: PingFangSC-Semibold;
                    font-size: 20px;
                    color: #FFFFFF;
                }
      
                text.location {
                    margin-top: 15px;
                    font-family: PingFangSC-Regular;
                    font-size: 12px;
                    color: #FFFFFF;
                }
      
                text.time {
                    margin-top: 5px;
                    font-family: PingFangSC-Regular;
                    font-size: 12px;
                    color: #FFFFFF;
                }
              }
      
              view.team2 {
                text-align: center;
                flex:37.5%;
                max-width: 37.5%;
                image {
                    height:100px;
                    width:100px;
                    border-radius: 50%;
                }
      
                view.team_name {
                    font-family: PingFangSC-Semibold;
                    font-size: 13px;
                    color: #FFFFFF;
                }
      
                view.record {
                    margin-top: 5px;
                    font-family: PingFangSC-Regular;
                    font-size: 10px;
                    color: #FFFFFF;
                }
              }
            }
        }
      }
    }
  }